<!DOCTYPE html>
<html>
<head>
    <title>Registrierung</title>
</head>
<body>
    <h1>Registrierung</h1><br>
    <a href="/login">Login</a><br>
    <form method="POST" action="/register">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="password">Rolle:</label>
        <input type="text" id="role" name="role" required><br>
        <input type="submit" value="Registrieren">
    </form>
</body>